:root {
	--body-background-color: #ffffff;
	--body-text-color: #000000;
	--card-background-color: #ffffff;
	--nav-background-color: #ffffff;
	--nav-border-bottom-color: #ced4da;
	--nav-current-border-bottom-color: #e99f36;
	--card-border-color: #d8e8e4;
	--down-border-left-color: #dd0000;
	--down-background-color: #ffd0d2;
	--degraded-border-left-color: #e99f36;
	--up-border-left-color: #00aa00;
	--tag-color: #ffffff;
	--tag-up-background-color: #00aa00;
	--tag-down-background-color: #dd0000;
	--tag-degraded-background-color: #e99f36;
	--change-background-color: #e99f36;
	--error-button-border-color: #1976d2;
	--error-button-background-color: #4078c0;
	--error-button-color: #ffffff;
	--submit-button-border-color: #1976d2;
	--submit-button-background-color: #4078c0;
	--submit-button-color: #ffffff;
	--graph-opacity: 1;
	--graph-filter: hue-rotate;
}
